#concerts{
    display: inline-block;
    width: 100%;
    text-align: center;
}

#concert{
    display: inline-block;
    margin: 20px;
}

#no-concerts-warning{
    font-size: 35px;
    color: white;
    text-align: center;
}