#myprofile-concertsbought{

    border: dotted;
    border-color: green;
    border-radius: 50px;
    padding: 50px;
    text-align: center;

    margin-top: 50px;
    
}

#myprofile-concertsbought-noconcerts{
    margin-top: 20px;
    font-size: 30px;
}