.navbar-nav {
  display: -webkit-box;
  float: right;
  background-color: transparent;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

#navbar .MuiAppBar-colorPrimary {
  background-color: #011a27;
}
