.navbar-nav {
  display: -webkit-box;
  float: right;
  background-color: transparent;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

#navbar .MuiAppBar-colorPrimary {
  background-color: black;
}

.navbar-text{
  color: white;

  &:hover{
    color:rgb(36, 163, 110);
    text-decoration: none;
  }
}
