#new-concert {
    background: #011a27;
    border-style: solid;
    margin: 20px;
}

.myfirst{
    margin: 50px;
}

.ArtistName{
    width: 100%;
    border-radius: 5px;
    font-style: normal;
}

.ConcertName{
    width: 100%;
    border-radius: 5px;
}


.Date {
    color: gray;
    border-radius: 5px;
}



.fileContainer p{
    font-size: 7px;
}

#upload{
    width: 100%;
}

.btn {
    width: 100%;
}

#max€ {
    color: grey;
    margin-top: .75rem!important;
    font-size: 12px;

}

#price{
    position: absolute;
    margin-top: -20px;
    margin-left: 2px;
    color: grey;
    font-size: 15px;
}

#price-slider{
    position: absolute;
    margin-left: 33px;
}

