#myprofile-myconcerts{
    border: dotted;
    border-color: green;
    border-radius: 50px;
    padding: 50px;
    text-align: center;
}

#myprofile-myconcerts-noconcerts{
    margin-top: 20px;
    font-size: 30px;
}